@import '../modal/modal.scss';
@import '../common-form/common-form.scss';
@import '../star-rating/star-rating.scss';


.feedback-modal {
    .modal__dialog {
        overflow-y: auto;
        padding: 16px;
        display: block;
        height: 100%;
        width: 100%;
        max-width: 580px;

        @include hideScrollbar;
    }

    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100%;
    }

    &__body {
        position: relative;

        margin: 0 auto;
        padding: 55px 24px;
        width: 100%;
        max-width: 506px;

        background: #ffffff;
        border-radius: 16px;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.04);
    }

    &__header {
        margin-bottom: 40px;
    }

    &__title {
        margin: 0 0 8px;

        font-size: 32px;
        font-weight: 700;
        line-height: 1.2;
        text-align: center;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__subtitle {
        margin: 0;

        font-size: 14px;
        line-height: 1.6;
    }
}

@media #{$tablet} {
    .feedback-modal {
        .modal__dialog {
            padding: 16px 32px;
        }

        &__body {
            padding: 64px 80px;
        }

        &__header {
            font-size: 40px;
        }
    }
}

@media #{$desktop} {
    .feedback-modal {
    }
}
