.testimonials-card {
    position: relative;
    padding: 32px;
    padding-bottom: 48px;

    background: #fbfbfb;
    box-shadow: 2px 2px 27px rgba(0, 0, 0, 0.1);
    border-radius: 16px;

    &::before {
        position: absolute;
        width: 58px;
        height: 44px;
        top: 32px;
        right: 32px;

        background-image: url(/assets/images/svg/quote-green.svg);
        background-size: contain;
        background-repeat: no-repeat;
    }

    &__author {
        margin-bottom: 16px;
    }

    &__name {
        margin-bottom: 8px;

        font-size: 16px;
        font-weight: 700;
        line-height: 1.6;
    }

    &__post {
        color: $text-color-light;
        font-size: 12px;
        line-height: 1.6;
    }

    &__rating {
        margin-bottom: 16px;
    }

    &__text {
        margin-bottom: 8px;

        p {
            margin: 0 0 12px;

            font-size: 14px;
            line-height: 1.6;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__more,
    &__scan {
        @include btn-reset;
        margin-bottom: 8px;

        font-size: 12px;
        line-height: 1.6;
        color: $text-color-light;
        text-decoration: underline;

        transition: color 300ms ease;

        cursor: pointer;

        &:hover {
            color: $text-color;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__scan {
        display: flex;
        align-items: center;

        .icon {
            width: 24px;
            flex: 0 0 auto;
            margin-right: 6px;

            svg {
                display: block;
                max-width: 100%;
                height: auto;

                fill: currentColor
            }
        }
    }

    &__image {
        padding-top: 24px;
        display: block;
        max-width: 360px;

        img {
            display: block;
            max-width: 100%;
        }
    }
}

@media #{$laptop} {
    .testimonials-card {
        display: flex;
        align-items: flex-start;

        &__content {
            width: 60%;
            flex: 1 1 auto;
        }

        &__image {
            padding-top: 0;
            padding-left: 32px;
        }

        &.type2 {
            .testimonials-card__header {
                margin-bottom: 24px;
                padding-bottom: 24px;
                display: flex;
                align-items: flex-start;
                justify-content: space-between;

                border-bottom: 1px solid rgba($text-color-medium, 0.2);
            }

            .testimonials-card__author {
                padding-right: 24px;
                margin-bottom: 0;
            }

            .testimonials-card__rating {
                flex: 0 0 auto;
                margin-bottom: 0;
            }
        }
    }
}

@media #{$desktop} {
    .testimonials-card {
    }
}
