mixin program-testimonials()
    +b.program-testimonials
        .modal(id='programTestimonialsModal' aria-hidden='true')
            .modal__overlay(tabindex='-1' data-micromodal-close='')
                .modal__dialog(role='dialog' aria-modal='true')
                    +e.wrapper(data-micromodal-close='')
                        +e.body
                            +e.BUTTON.close.modal__close(aria-label='Закрыть окно' data-micromodal-close='')
                                include ../../../src/assets/images/svg/close.svg
                            +e.inner
                                +e.header
                                    +e.title Отзывы о программе
                                    +e.P.description Отзывы публикуются с согласия специалистов, прошедших обучение. Сохранены оригинальные орфография и пунктуация.
                                    +e.BUTTON.appeal(type='button' data-modal='feedbackModal') Оставить отзыв о программе
                                +e.slides
                                    +e.slide
                                        +testimonials-card('', false)
                                            p Учитывая ключевые сценарии поведения, семантический разбор внешних противодействий предоставляет широкие возможности для поэтапного и последовательного развития общества. В целом, конечно, экономическая повестка сегодняшнего дня создаёт предпосылки для новых...
                                    +e.slide
                                        +testimonials-card('', false)
                                            p Противоположная точка зрения подразумевает, что действия представителей оппозиции являются только методом политического участия и заблокированы в рамках своих собственных рациональных ограничений. В целом, конечно, сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых.
                                    +e.slide
                                        +testimonials-card('', false)
                                            p Учитывая ключевые сценарии поведения, семантический разбор внешних противодействий предоставляет широкие возможности для поэтапного и последовательного развития общества. В целом, конечно, экономическая повестка сегодняшнего дня создаёт предпосылки для новых...
                                    +e.slide
                                        +testimonials-card('', false)
                                            p Противоположная точка зрения подразумевает, что действия представителей оппозиции являются только методом политического участия и заблокированы в рамках своих собственных рациональных ограничений. В целом, конечно, сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых.