mixin testimonial-modal-card
    +b.testimonial-modal-card.modal#testimonialModalCard(aria-hidden='true')
        .modal__overlay(tabindex='-1' data-micromodal-close='')
            +e.body.modal__dialog(role='dialog' aria-modal='true' aria-labelledby='Просмотр видео')
                +e.BUTTON.close.modal__close(aria-label='Закрыть окно' data-micromodal-close='')
                    include ../../../src/assets/images/svg/close.svg
                +testimonials-card('type2 in-modal')
                    p Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции говорит о возможностях вывода текущих активов. Предварительные выводы неутешительны: глубокий уровень погружения играет важную роль в формировании анализа существующих паттернов поведения. А также интерактивные прототипы, превозмогая сложившуюся непростую экономическую ситуацию, описаны максимально подробно.
                    p Не следует, однако, забывать, что постоянный количественный рост и сфера нашей активности не даёт нам иного выбора, кроме определения соответствующих условий активизации. В частности, высококачественный прототип будущего проекта создаёт необходимость включения в производственный план целого ряда внеочередных мероприятий с.