mixin testimonials-list()
    +b.SECTION.testimonials-list
        +e.header
            +e.title Отзывы о программе
            +e.A.link(href='#') Все отзывы
        +e.wrapper
            +e.card
                +testimonials-card
                    p Существующая теория создаёт предпосылки для благоприятных перспектив. Есть над чем задуматься: активно развивающиеся страны третьего мира в равной степени предоставлены сами себе. С другой стороны, экономическая повестка сегодняшнего дня требует анализа укрепления моральных ценностей. Мы вынуждены отталкиваться от того, что постоянное информационно-пропагандистское обеспечение нашей деятельности однозначно фиксирует необходимость приоритизации разума над эмоциями.
            +e.card
                +testimonials-card
                    p Прежде всего, высокое качество позиционных исследований играет важную роль в формировании форм воздействия. А также многие известные личности представлены в исключительно положительном свете. Кстати,  сторонники тоталитаризма в науке, которые представляют собой яркий пример.
        +e.BUTTON.appeal(data-modal='feedbackModal' type='button') Оставить отзыв о программе