mixin testimonials-slider()
    +b.SECTION.testimonials-slider
        +e.header
            +e.title Отзывы о программе
            +e.controls
                button.prev
                button.next
        +e.slides
            +e.slide
                +testimonials-card('type2')
                    p Учитывая ключевые сценарии поведения, семантический разбор внешних противодействий предоставляет широкие возможности для поэтапного и последовательного развития общества. В целом, конечно, экономическая повестка сегодняшнего дня создаёт предпосылки для новых...
            +e.slide
                +testimonials-card('type2')
                    p Противоположная точка зрения подразумевает, что действия представителей оппозиции являются только методом политического участия и заблокированы в рамках своих собственных рациональных ограничений. В целом, конечно, сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых.
            +e.slide
                +testimonials-card('type2')
                    p Учитывая ключевые сценарии поведения, семантический разбор внешних противодействий предоставляет широкие возможности для поэтапного и последовательного развития общества. В целом, конечно, экономическая повестка сегодняшнего дня создаёт предпосылки для новых...
            +e.slide
                +testimonials-card('type2')
                    p Противоположная точка зрения подразумевает, что действия представителей оппозиции являются только методом политического участия и заблокированы в рамках своих собственных рациональных ограничений. В целом, конечно, сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых.
        +e.actions
            +e.BUTTON.appeal(data-modal='feedbackModal' type='button') Оставить отзыв о программе