mixin sidebar-service()
    +b.sidebar-service
        +e.label Скидка 25%
        +e.image
            +img('sidebar-service.jpg')
        +e.content
            +e.P.excerpt С учётом сложившейся международной обстановки, экономическая повестка сегодняшнего дня не даёт нам иного выбора, кроме.
            +e.A.link(href='#') Подробнее